<ion-header>
  <ion-toolbar>

    <ion-title>Bicicletas App</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addBike()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list no-lines>
    <ion-item-group *ngFor="let bike of bikes">
      <ion-item>

        <ion-label text-wrap>
          <h2><strong>{{bike.nombre}}</strong></h2>
          <span>Precio: {{bike.precio}}</span>
        </ion-label>

        <ion-buttons slot="end">
          <ion-button (click)="getBike(bike)" color="primary">
            <ion-icon slot="icon-only" name="eye"></ion-icon>
          </ion-button>
          <ion-button (click)="editBike(bike)" color="secondary">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button (click)="deleteBike(bike)" color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>

      </ion-item>
    </ion-item-group>
  </ion-list>
  <p style="height:5em"></p>
</ion-content>
